Flask==2.3.2
flask-cors==4.0.0
flask-sqlalchemy==3.1.1
SQLAlchemy==2.0.41
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.4.2
python-dotenv==1.1.1
torch==2.3.0
sentence-transformers==2.6.1
faiss-cpu==1.8.0
ollama==0.1.6
redis==5.0.4
hdbscan==0.8.40
langchain==0.3.26
